<%- include("partials/header") %>

<main class="container py-10">
  <h1 class="text-4xl mb-8 text-center font-titulo">Calendario Académico</h1>
  <div id="calendar" class="bg-[var(--color-fondo-secundario)] p-4 rounded-lg shadow-soft mb-8"></div>
</main>

<script>
  window.eventosData = <%- JSON.stringify(eventos) %>;
</script>
<!-- Calendar JS -->
<script src="/js/calendar.js"></script>
<!-- Footer -->
<%- include("partials/footer") %>
