<%- include("partials/header") %>

<main class="max-w-7xl mx-auto p-4 sm:p-6 md:p-8 lg:p-10 xl:p-12">
  <h1 class="text-3xl sm:text-4xl lg:text-5xl mb-8 text-center font-titulo">Calendario Académico</h1>

  <div class="rounded-lg shadow-soft overflow-x-auto">
    <div id="calendar" class="rounded-lg shadow-soft overflow-hidden"></div>
  </div>
</main>

<script>
  window.eventosData = <%- JSON.stringify(eventos) %>;
</script>
<!-- Calendar JS -->
<script src="/js/calendar.js"></script>
<!-- Footer -->
<%- include("partials/footer") %>
