/* Base */
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  max-width: 100%;
}

h1,
h2,
h3 {
  font-family: var(--font-titulo);
  letter-spacing: 0.05em;
}

body {
  font-family: var(--font-ubuntu);
  color: var(--color-texto-principal);
  background-color: var(--color-fondo-principal);
}

a {
  transition: color 0.3s, background-color 0.3s;
}

button {
  transition: all 0.3s ease;
  font-weight: 600;
}

.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.shadow-soft {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.card {
  background-color: var(--color-fondo-secundario);
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#calendar {
  width: 100%;
  min-height: 500px;
  overflow-x: auto;
}

/* Eventos */
#calendar thead {
  background-color: var(--color-fondo-principal);
  color: var(--color-texto-principal);
  text-shadow: 1px 1px 1px #000;
}

.fc-event-time {
  display: none;
}

.fc-daygrid-event-dot {
  display: none;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-bottom: 0;
  display: flex;
  align-items: center;
  padding: 10px 5px;
}

.fc-event-title {
  white-space: normal !important;
}

/* Responsive */

@media (max-width: 640px) {

  .fc .fc-button {
    font-size: 0.75rem;
    padding: 0.3rem 0.6rem;
  }

  .fc .fc-daygrid-day-number {
    font-size: 0.75rem;
  }

  .fc .fc-daygrid-day-frame {
    min-height: 80px;
  }

  .fc .fc-toolbar-title {
    font-size: 1.1rem;
  }

  .fc .fc-event-title {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media (max-width: 480px) {

  .fc .fc-daygrid-body-natural .fc-daygrid-day-events{
    padding: 2px 0;
  }

  .fc .fc-event-title {
    font-size: 0.65rem;
    line-height: 1rem;
    white-space: normal;
  }
}

/* Animaciones */
#mobileMenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

#mobileMenu.open {
  max-height: 500px;
  opacity: 1;
}

#mobileMenu.closing {
  max-height: 0;
  opacity: 0;
}
