<footer class="mt-auto bg-[var(--color-fondo-secundario)] text-[var(--color-texto-secundario)] py-4 text-center text-sm">
  <p>
    <i class="fa-solid fa-copyright"></i> <%= new Date().getFullYear() %> Instituto ISMAC | Calendario Académico
  </p>
</footer>

<!-- FullCalendar JS -->
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.17/index.global.min.js"></script>
<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/d69c31f99a.js" crossorigin="anonymous"></script>
<!-- Flash Messages -->
<%- include('./flash', { flash: flash }) %>
</body>

</html>