<footer class="mt-auto bg-negro-azulado text-gris-azulado py-4 text-center text-sm">
  <p>
    <i class="fa-solid fa-copyright"></i> <%= new Date().getFullYear() %> Instituto Ismac | Calendario Académico
  </p>
</footer>

<!-- SweetAlert -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/d69c31f99a.js" crossorigin="anonymous"></script>
<!-- Flash Messages -->
<%- include('./flash') %>
</body>

</html>