<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %> - Calendario Academico Ismac</title>
  <!-- FullCalendar CSS -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.css" rel="stylesheet" />
  <!-- Base CSS -->
  <link rel="stylesheet" href="/css/base.css">
  <!-- Tailwind CSS -->
  <link href="/css/output.css" rel="stylesheet" />
</head>

<body class="bg-[var(--color-fondo-principal)] text-[var(--color-texto-principal)] min-h-screen flex flex-col">
