<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= title %> - Ismac</title>
  <!-- FullCalendar CSS -->
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.css" rel="stylesheet" />
  <!-- Tailwind CSS -->
  <link href="/css/output.css" rel="stylesheet" />
</head>

<body class="bg-[var(--color-fondo-claro)] text-[var(--color-texto)] font-[var(--font-ubuntu)] min-h-screen flex flex-col"></body>

</html>