<%- include("../partials/header") %> <%- include("../partials/navbarAdmin") %>

<main class="p-6">
  <h1 class="text-3xl font-bold text-verde-menta mb-4">Panel del Administrador</h1>
  <p class="text-gris-azulado">Bienvenido, <strong><%= username %></strong>.</p>

  <div class="mt-8 border border-gris-azulado bg-azul-petroleo p-4 rounded-lg">
    <p class="text-center text-sm text-gris-azulado">Aquí podrás gestionar los eventos del calendario académico.</p>
  </div>
</main>

<%- include("../partials/footer") %>
